.App {
  text-align: center;
}

a:link {
  color: #5B2A86;
}

a:visited {
  color: #5B2A86;
}

a:hover {
  color: #717568;
}

#root {
  background-color: #CCC9DC
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: black;
}
